# Ingestion & Preprocessing

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

#Viz
import seaborn as sns
import matplotlib.pyplot as plt

#EDA
import xgboost as xgb
import lightgbm as lgb

#from statlearning import plot_dist
#from statlearning import plot_regressions
#from statlearning import plot_coefficients
#from statlearning import plot_feature_importance
#from mpl_toolkits.basemap import Basemap

#from skopt import BayesSearchCV
#from skopt.space import Real, Categorical, Integer

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn.linear_model import ElasticNetCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
#from mlxtend.regressor import StackingCVRegressor

In [2]:
df_train = pd.read_csv('boston_listings.csv',encoding ='ISO-8859-1')

In [3]:
df_train.head()

,id,name,summary,access,interaction,house_rules,host_id,host_since,host_location,host_response_time,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,instant_bookable,is_business_travel_ready,cancellation_policy,reviews_per_month
0,3781,HARBORSIDE-Walk to subway,Fully separate apartment in a two apartment bu...,Guests solely occupy the 1 floor apartment wit...,We sometimes travel. Always available via: mob...,"No pets, no smoking.",4804,2008/12/3,Massachusetts,within a few hours,...,10.0,10.0,10.0,10,t,NaN,f,f,super_strict_30,0.28
1,5506,**$49 Special ** Private! Minutes to center!,"Private guest room with private bath, You do n...",You get full access to the guest room with pri...,"We give guests privacy, but we are available ...",No Smoking in the Building.,8229,2009/2/19,"Boston, Massachusetts, United States",within an hour,...,10.0,10.0,9.0,10,t,Exempt: This listing is a unit that has contra...,t,f,strict_14_with_grace_period,0.79
2,6695,$99 Special!! Home Away! Condo,"Comfortable, Fully Equipped private apartment...","Full Private apartment. 1 bedroom, kitchen, ...",NaN,No Smoking in the Building.,8229,2009/2/19,"Boston, Massachusetts, United States",within an hour,...,10.0,10.0,9.0,10,t,STR-404620,t,f,strict_14_with_grace_period,0.88
3,8789,Curved Glass Studio/1bd facing Park,"Bright, 1 bed with curved glass windows facing...",Guests have access to the full unit,I'm available for questions and/or issues.,NaN,26988,2009/7/22,"Boston, Massachusetts, United States",within a few hours,...,10.0,10.0,10.0,9,t,NaN,f,f,strict_14_with_grace_period,0.35
4,10730,Bright 1bed facing Golden Dome,"Bright, spacious unit, new galley kitchen, new...",Guests have access to everything in the unit.,I'm available as needed.,"NO SMOKING, NO PETS. $100 move-in fee payable ...",26988,2009/7/22,"Boston, Massachusetts, United States",within a few hours,...,10.0,10.0,10.0,9,t,NaN,f,f,strict_14_with_grace_period,0.24

In [4]:
df_train['price']

0              $125.00
1              $145.00
2              $169.00
3               $99.00
4              $150.00
             ...
3840            $58.00
3841           $150.00
3842    Entire home/apt
3843            $50.00
3844            $68.00
Name: price, Length: 3845, dtype: object

In [5]:
df_train.isnull().sum()

id                                0
name                              0
summary                          80
access                         1633
interaction                    1252
house_rules                     988
host_id                           2
host_since                        2
host_location                     5
host_response_time              559
host_response_rate              559
host_acceptance_rate            260
host_is_superhost                 1
host_neighbourhood              219
host_total_listings_count         1
host_verifications                1
host_identity_verified            1
neighbourhood                     1
neighbourhood_cleansed            1
zipcode                          14
latitude                          0
longitude                         0
is_location_exact                 0
property_type                     1
room_type                         0
accommodates                      0
bathrooms                         3
bedrooms                          4
beds                             20
bed_type                          1
amenities_dict                    0
price                             1
cleaning_fee                    396
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 1
review_scores_rating            837
review_scores_accuracy          841
review_scores_cleanliness       839
review_scores_checkin           841
review_scores_communication     839
review_scores_location          841
review_scores_value             841
requires_license                  5
license                        1533
instant_bookable                  4
is_business_travel_ready          4
cancellation_policy               3
reviews_per_month               830
dtype: int64

In [6]:
df_train = df_train.drop(['id','name','summary','access','interaction','house_rules','host_id','zipcode',
                          'requires_license','license','review_scores_rating','review_scores_accuracy',
                          'review_scores_cleanliness','review_scores_checkin','review_scores_communication',
                         'review_scores_location','review_scores_value','reviews_per_month','host_response_time',
                         'host_response_rate','host_acceptance_rate','host_neighbourhood','host_is_superhost','host_neighbourhood'],axis = 1)

In [7]:
df_train.isnull().sum()

host_since                     2
host_location                  5
host_total_listings_count      1
host_verifications             1
host_identity_verified         1
neighbourhood                  1
neighbourhood_cleansed         1
latitude                       0
longitude                      0
is_location_exact              0
property_type                  1
room_type                      0
accommodates                   0
bathrooms                      3
bedrooms                       4
beds                          20
bed_type                       1
amenities_dict                 0
price                          1
cleaning_fee                 396
availability_30                0
availability_60                0
availability_90                0
availability_365               0
number_of_reviews              1
instant_bookable               4
is_business_travel_ready       4
cancellation_policy            3
dtype: int64

In [8]:
#pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
#pd.set_option('max_colwidth',200)
#pd.set_option('expand_frame_repr', False)
#df_train.head()

In [9]:
filled_train = df_train.copy()

In [10]:
#填补固定数字
filled_train['cleaning_fee'] = filled_train['cleaning_fee'].fillna(0)

filled_train = filled_train.dropna()
print(filled_train.shape)

(3805, 28)

In [11]:
filled_train.isnull().sum()

host_since                   0
host_location                0
host_total_listings_count    0
host_verifications           0
host_identity_verified       0
neighbourhood                0
neighbourhood_cleansed       0
latitude                     0
longitude                    0
is_location_exact            0
property_type                0
room_type                    0
accommodates                 0
bathrooms                    0
bedrooms                     0
beds                         0
bed_type                     0
amenities_dict               0
price                        0
cleaning_fee                 0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
number_of_reviews            0
instant_bookable             0
is_business_travel_ready     0
cancellation_policy          0
dtype: int64

In [12]:
filled_train['price']

0       $125.00
1       $145.00
2       $169.00
3        $99.00
4       $150.00
          ...
3838    $100.00
3839     $52.00
3840     $58.00
3841    $150.00
3844     $68.00
Name: price, Length: 3805, dtype: object

In [13]:
DF_train = filled_train.to_csv("DF_train.csv")

In [14]:
DF_train_use = pd.read_csv('DF_train_use.csv',encoding ='ISO-8859-1',index_col = 0)

In [15]:
DF_train_use.head()

,host_since,host_location,host_total_listings_count,host_verifications,host_identity_verified,neighbourhood,neighbourhood_cleansed,latitude,longitude,is_location_exact,...,price,cleaning_fee,availability_30,availability_60,availability_90,availability_365,number_of_reviews,instant_bookable,is_business_travel_ready,cancellation_policy
0,2008/12/3,Massachusetts,5,"['email', 'phone', 'reviews']",f,East Boston,East Boston,42.36413,-71.02991,t,...,125,75,11,20,20,97,16,f,f,super_strict_30
1,2009/2/19,"Boston, Massachusetts, United States",2,"['email', 'phone', 'reviews', 'kba']",t,Roxbury,Roxbury,42.32981,-71.09559,t,...,145,60,1,14,44,307,106,t,f,strict_14_with_grace_period
2,2009/2/19,"Boston, Massachusetts, United States",2,"['email', 'phone', 'reviews', 'kba']",t,Roxbury,Roxbury,42.32994,-71.09351,t,...,169,80,1,4,19,266,115,t,f,strict_14_with_grace_period
3,2009/7/22,"Boston, Massachusetts, United States",10,"['email', 'phone', 'reviews', 'jumio', 'offlin...",f,Beacon Hill,Downtown,42.35919,-71.06265,t,...,99,250,17,42,42,290,24,f,f,strict_14_with_grace_period
4,2009/7/22,"Boston, Massachusetts, United States",10,"['email', 'phone', 'reviews', 'jumio', 'offlin...",f,Beacon Hill,Downtown,42.35840,-71.06185,t,...,150,250,28,29,29,42,31,f,f,strict_14_with_grace_period

In [16]:
print(DF_train_use['host_identity_verified'].value_counts())
print(' ')
print(DF_train_use['is_location_exact'].value_counts())
print(' ')
print(DF_train_use['cancellation_policy'].value_counts())
print(' ')
print(DF_train_use['instant_bookable'].value_counts())
print(' ')
print(DF_train_use['is_business_travel_ready'].value_counts())
print(' ')

f    2473
t    1306
Name: host_identity_verified, dtype: int64

t    3578
f     201
Name: is_location_exact, dtype: int64

strict_14_with_grace_period    1914
moderate                        884
flexible                        822
strict                          116
super_strict_30                  36
super_strict_60                   7
Name: cancellation_policy, dtype: int64

t    1925
f    1854
Name: instant_bookable, dtype: int64

f    3779
Name: is_business_travel_ready, dtype: int64

In [17]:
#将有顺序关系的变量直接替换为数字
ordinal_variable = ['host_identity_verified','is_location_exact','instant_bookable','is_business_travel_ready','cancellation_policy']
DF_train_use[ordinal_variable] = DF_train_use[ordinal_variable].replace({
    'flexible':6,'moderate':4,'strict':3,'super_strict_30':2,'super_strict_60':1,'t':1,'f':0})

In [18]:
DF_train_dm = pd.get_dummies(DF_train_use, drop_first=True).copy()

In [19]:
DF_train_dm

,host_total_listings_count,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,price,...,room_type_Shared room,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,cancellation_policy_2,cancellation_policy_3,cancellation_policy_4,cancellation_policy_6,cancellation_policy_strict_14_with_grace_period
0,5,0,42.364130,-71.02991,1,2,1.0,1,0,125,...,0,0,0,0,1,1,0,0,0,0
1,2,1,42.329810,-71.09559,1,2,1.0,1,1,145,...,0,0,0,0,1,0,0,0,0,1
2,2,1,42.329940,-71.09351,1,4,1.0,1,1,169,...,0,0,0,0,1,0,0,0,0,1
3,10,0,42.359190,-71.06265,1,2,1.0,1,1,99,...,0,0,0,0,1,0,0,0,0,1
4,10,0,42.358400,-71.06185,1,2,1.0,1,1,150,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,11,0,42.325370,-71.10501,0,1,2.0,0,1,100,...,0,0,0,0,1,0,0,0,0,1
3839,1,0,42.363920,-71.05598,1,1,1.0,1,1,52,...,0,0,0,0,1,0,0,0,0,1
3840,1,0,42.364150,-71.05685,1,1,1.0,1,1,58,...,0,0,0,0,1,0,0,0,1,0
3841,10,0,42.373640,-71.03714,1,4,1.0,2,2,150,...,0,0,0,0,1,0,0,0,1,0
3844,1,0,42.363852,-71.05711,1,1,1.0,1,1,68,...,0,0,0,0,1,0,0,0,0,1

In [20]:
DF_train_dm.to_csv("DF_train_dm.csv")

# 统计分析

In [21]:
correlation = DF_train_dm.corr()['price'].sort_values()
correlation_gd = correlation.loc[(correlation > 0.1)|(correlation < -0.1)]

In [22]:
DF_train_dm = DF_train_dm[correlation_gd.index].copy()
print(DF_train_dm.shape)

(3779, 13)

In [23]:
continuous = DF_train_dm.iloc[:,:25].columns

In [24]:
for i in continuous:
    DF_train_dm[i] = np.log1p(DF_train_dm[i])

In [25]:
DF_train_log_mm = DF_train_dm.copy()
for i in continuous:
    DF_train_log_mm[i] = (DF_train_log_mm[i] - DF_train_log_mm[i].min())/(DF_train_log_mm[i].max() - DF_train_log_mm[i].min())

DF_train_log_mm.head()

,cleaning_fee,host_since_2019/6/28,host_since_2019/10/8,neighbourhood_Leather District,bedrooms,property_type_Hotel,"host_verifications_['email', 'phone']",beds,accommodates,property_type_Boutique hotel,host_since_2019/10/29,host_since_2019/6/5,price
0,0.696639,0.0,0.0,0.0,0.26265,0.0,0.0,0.000000,0.149726,0.0,0.0,0.0,0.296160
1,0.661273,0.0,0.0,0.0,0.26265,0.0,0.0,0.221065,0.149726,0.0,0.0,0.0,0.319866
2,0.706889,0.0,0.0,0.0,0.26265,0.0,0.0,0.221065,0.338358,0.0,0.0,0.0,0.344355
3,0.888821,0.0,0.0,0.0,0.26265,0.0,0.0,0.221065,0.149726,0.0,0.0,0.0,0.258972
4,0.888821,0.0,0.0,0.0,0.26265,0.0,0.0,0.221065,0.149726,0.0,0.0,0.0,0.325284

In [26]:
DF_train_log_std = DF_train_dm.copy()
for i in range(DF_train_log_std.shape[1]):
    DF_train_log_std.iloc[:,i] = (DF_train_log_std.iloc[:,i] - DF_train_log_std.iloc[:,i].mean()) / DF_train_log_std.iloc[:,i].std()
DF_train_log_std.head()

,cleaning_fee,host_since_2019/6/28,host_since_2019/10/8,neighbourhood_Leather District,bedrooms,property_type_Hotel,"host_verifications_['email', 'phone']",beds,accommodates,property_type_Boutique hotel,host_since_2019/10/29,host_since_2019/6/5,price
0,0.485540,-0.058777,-0.048859,-0.016266,-0.174829,-0.115784,-0.253418,-2.416577,-0.555018,-0.069214,-0.02301,-0.02301,-0.076636
1,0.362097,-0.058777,-0.048859,-0.016266,-0.174829,-0.115784,-0.253418,-0.604417,-0.555018,-0.069214,-0.02301,-0.02301,0.132923
2,0.521314,-0.058777,-0.048859,-0.016266,-0.174829,-0.115784,-0.253418,-0.604417,0.618948,-0.069214,-0.02301,-0.02301,0.349404
3,1.156328,-0.058777,-0.048859,-0.016266,-0.174829,-0.115784,-0.253418,-0.604417,-0.555018,-0.069214,-0.02301,-0.02301,-0.405375
4,1.156328,-0.058777,-0.048859,-0.016266,-0.174829,-0.115784,-0.253418,-0.604417,-0.555018,-0.069214,-0.02301,-0.02301,0.180820

In [27]:
from sklearn.model_selection import train_test_split

X_train = DF_train_dm.drop('price',axis = 1)
y_train = DF_train_dm['price']

X_train, X_test, y_train, y_test = train_test_split( X_train, y_train, test_size=0.2, random_state=42)

In [28]:
from sklearn.linear_model import LinearRegression
LR_model = LinearRegression(fit_intercept = True)
LR_model.fit(X_train, y_train )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
LR_model.coef_

array([ 0.05036911,  0.90587542,  2.34928065,  4.54979825, -0.15810356,
        0.88837014,  0.07030487, -0.14722207,  1.08831533,  0.60266551,
        5.78786852,  6.19637544])

In [30]:
prediction = np.exp(LR_model.predict(X_test))-1
prediction

array([ 164.26409507,  295.36187412,  164.19071394,   66.29289968,
        109.74872518,  116.31044592,  175.20538024,   69.84180954,
        171.61469479,  196.09928611,  125.21295618,  170.46779904,
         69.62840076,   96.45671309,  121.89278252,  183.41836583,
        227.29683459,   62.87114547,   87.00219429,   65.43098524,
        143.54743108,  135.91599773,  103.61936025,   67.24725195,
        488.99161406,  107.87666303,   87.00219429,  118.04525212,
         98.30212704,  116.31044592,  121.12998931,  198.94291897,
         68.00164924,  121.89278252,   55.6044642 ,  224.81054548,
         87.00219429,  121.52257177,  188.22775723,  204.18582736,
        192.09904758,  111.27609332,  198.94291897,  141.34429874,
        116.31044592,  165.45865862,  100.19148077,  226.45186952,
        141.98153044,   87.00219429,  213.80038032,  192.59350271,
        264.60021258,   68.00164924,  126.79209865,  143.16366457,
        215.73192601,   87.00219429,  198.94291897,  125.21295618,
         55.6044642 ,  102.69658332,  167.45876441,  149.97314313,
        172.30647543,   64.98567913,  169.32614756,  109.74872518,
         69.40209575,  104.41030514,  197.3303187 ,  256.66096399,
        117.18528024,   55.6044642 ,  121.12998931,   55.6044642 ,
        266.41710909,  112.38137634,  172.8001277 ,  117.39187545,
        149.62782536,   98.2996053 ,   87.00219429,   87.00219429,
        121.67319254,  167.45876441,   67.24725195,  128.70503677,
        358.24045222,   66.29289968,  121.82040535,  117.39187545,
         87.00219429,  102.69658332,  142.05320921,  255.51075232,
        108.45318529, 1636.83257358,  104.97119568,  121.67319254,
         76.75500018,  197.39456196,  116.31044592,  288.05348567,
         87.00219429,  176.03741104,   76.69895448,  207.59301784,
        109.74872518,  175.02971345,  280.65343202,  122.24309143,
        162.26292928,  121.12998931,  133.2950973 ,  236.80506254,
        141.34429874,  172.23959688,  232.96156888,   87.00219429,
         55.6044642 ,  102.69658332,   71.62814204,  193.92862509,
         56.24353755,  109.74872518,  488.40948517,  170.05099435,
        102.69658332,   87.00219429,   87.00219429,  116.31044592,
        143.54743108,  102.05819177,  125.21295618,  288.41220947,
        173.27892105,  145.34891064,   97.19455705,   76.69895448,
        214.53793477,   65.69935432,  182.24472116,  343.77765671,
        166.31277772,  102.69658332,  169.15506876,  102.89389247,
        251.69139467,  132.6019111 ,   98.2996053 ,  117.39187545,
         97.10343345,  336.64578735,  121.12998931,  114.70666105,
        176.03741104,  102.69658332,   87.00219429,  121.52257177,
        103.08438032,  121.52257177,  206.51861427,   87.00219429,
        142.05320921,  284.73790218,   56.24353755,   55.6044642 ,
        162.70763913,   55.6044642 ,  181.12710011,  282.33962638,
         55.6044642 ,  152.43869535,  147.04430856,  121.74721502,
         55.6044642 ,  198.94291897,  175.20538024,  196.09928611,
         62.87114547,  108.45318529,   55.6044642 ,  207.48849945,
         55.6044642 ,  212.4326158 ,  117.39187545,   66.80164849,
        104.41030514,  267.70398187,  192.17856465,  250.74232018,
        145.71517341,  207.59301784,   66.29289968,  119.35558386,
        121.52257177,  105.71983144,   55.6044642 ,  205.12930888,
         87.00219429,  128.94991011,   55.6044642 ,  149.97314313,
        114.42279448,  171.1730748 ,   78.81361552,  110.03231164,
         99.53577062,  117.18528024,  219.20168955,   55.6044642 ,
        191.57950468,   87.00219429,  109.74872518,  102.69658332,
         67.64395743,  865.37769576,   87.00219429,  101.58704215,
        149.62782536,  143.16366457,  181.37540033,  116.88475558,
        171.02099417,  121.67319254,  165.45865862,  184.12915985,
        224.94981322,  167.45876441,  121.74721502,  348.95691863,
        353.07826727,  150.85256233,  220.42379341,  198.94291897,
        152.56240909,  135.70242209,  108.73633388,   65.82626683,
        104.41030514,  116.31044592,  181.12710011,   67.16242255,
        105.71983144,   87.00219429,   66.29289968,   55.6044642 ,
        128.70503677,  108.45318529,  207.48849945,   68.00164924,
        170.05099435,  152.43869535,  102.31199937,  111.27609332,
        167.45876441,  200.24865228,   87.00219429,  108.45318529,
        102.69658332,  167.45876441,  102.89389247,  186.41716549,
        119.35558386,   87.00219429,  181.81979951,   87.00219429,
        234.22557211,  186.0439582 ,  107.67816751,  116.31044592,
         55.6044642 ,  169.32614756,   65.56771899,  106.27593006,
        198.94291897,   67.64395743,  251.52183179,   96.68770972,
        121.52257177,   55.6044642 ,  319.23359511,  250.74232018,
        100.19148077,  116.31044592,  260.29163822,  109.20095462,
        193.92862509,  198.94291897,  171.1730748 ,  112.38137634,
        198.91736746,  260.29163822,  152.43869535,   55.6044642 ,
        122.89200914,  248.69065353,  168.92338691,  167.55254967,
        197.3303187 ,  198.94291897,  171.54255636,   81.90275856,
         87.00219429,   55.6044642 ,  112.30436136,  152.4218687 ,
        170.06918335,   55.6044642 ,  329.42682005,  259.62427599,
         55.6044642 ,  108.0786448 ,  145.71517341,  116.31044592,
        151.22258567,  198.94291897,  104.97119568,   67.24725195,
        100.56364026,  182.58052379,   76.69895448,   55.6044642 ,
         46.57908816,  187.66125622,  137.21351497,   67.64395743,
        105.10307881,   97.55701478,  103.61936025,  101.58704215,
        170.78801128,  171.96710409,  172.23959688,  102.69658332,
        237.3482084 ,   81.90275856,  100.19148077,  181.12710011,
         81.90275856,   87.00219429,  182.58052379,  108.28383212,
        163.48065637,  106.16898203,  183.41836583,  113.94853299,
         94.32776956,  116.50226676,  116.31044592,  132.6019111 ,
        181.37540033,   68.62675512,   65.69935432,  348.01576872,
        242.18568577,  164.26409507,  224.94981322,   55.6044642 ,
        152.43869535,   68.00164924,  308.71173662,  211.21449466,
         87.00219429,  142.05320921,  179.01779892,  141.68783851,
        188.22775723,  112.60848458,  200.85673952,  173.27892105,
        100.05964517,  219.31133642,  102.69658332,  109.13680237,
        305.42759216,  105.10307881,  175.20538024,  216.2124493 ,
        198.43224686,  100.19148077,  170.05099435,  239.03458331,
        244.40209882,  217.30560855,  174.29196408,  121.52257177,
        108.0786448 ,  108.80501863,  231.35957694,  118.08006001,
        100.19148077,   55.6044642 ,   55.6044642 ,  175.20538024,
        171.54255636,  168.92338691,   83.82316753,   55.6044642 ,
        160.65302307,   55.6044642 ,   97.19455705,  194.76213317,
        170.46779904,  168.57631284,   87.00219429,  103.61936025,
        109.20095462,   87.00219429,   66.29289968,  150.85256233,
        253.73880269,   87.00219429,  119.35558386,  176.03741104,
         55.6044642 ,  103.61936025,  193.06523735,  118.36209481,
        268.00097057,  128.70503677,  131.17238646,  171.1730748 ,
        121.89278252,  220.42379341,  105.3410807 ,  207.59301784,
        167.45876441,  184.07804207,  108.80501863,   55.6044642 ,
         87.00219429,  106.27593006,  105.10307881,   55.6044642 ,
        272.69985866,   71.87923577,  105.71983144,  128.70503677,
        149.97314313,   69.16118512,  142.05320921,  198.94291897,
        115.57884178,  187.73844347,   55.6044642 ,  172.23959688,
        150.0571937 ,  207.59301784,  502.52739594,  198.94291897,
         64.98567913,   87.00219429,  228.88005193,  148.69288126,
        149.97314313,  116.31044592,   98.2996053 ,  149.97314313,
        112.38137634,  150.85256233,  109.74872518,   87.00219429,
        115.71287749,  127.21403098,  108.73633388,  128.63129416,
        259.62427599,  116.31044592,  103.61936025,  103.61936025,
         60.9505931 ,  100.19148077,  215.23077373,  106.7824803 ,
         68.62675512,  108.45318529,  164.32703871,   91.39827338,
        109.20095462,  101.58704215,  164.26409507,  140.81990494,
        207.59301784,  286.25514908,  111.91141898,  236.80506254,
        107.87666303,   55.6044642 ,   81.90275856,  232.96156888,
         81.90275856,  227.01538334,  105.71983144,  116.31044592,
        198.94291897,   66.80164849,  112.38137634,  152.34967328,
        250.31570449,   98.95475676,  103.61936025,  217.53803327,
        304.34451628,  291.08829791,  249.05240011,   87.00219429,
        106.27593006,  144.95462904,  171.02099417,  170.8418488 ,
        297.27247512,   68.00164924,  105.10307881,  105.71983144,
        121.74721502,   98.2996053 ,   91.39827338,  102.69658332,
        127.06160226,  105.10307881,  134.57191251,   87.00219429,
         87.00219429,   61.43347652,  109.74872518,  235.08312316,
         87.00219429,  110.03231164,  142.05320921,  102.69658332,
         97.19455705,   55.6044642 ,  192.17856465,   96.71952306,
        132.18654294,   71.07069762,  128.94991011,  103.61936025,
        220.08071474,  106.27593006,  230.31934712,   68.00164924,
        207.59301784,  103.61936025,  180.42016013,   87.00219429,
        149.62782536,   55.6044642 ,  163.91974503,  100.19148077,
         87.00219429,  107.24777371,  281.37303935,  109.74872518,
        134.57191251,  746.35527723,  152.43869535,   86.73691259,
        105.10307881,  167.45876441,  174.85067806,  125.42720633,
         66.29289968,  143.16366457,  148.12942701,  149.97314313,
        102.89389247,   75.99337997,   55.6044642 ,  105.10307881,
        198.94291897,  145.53102782,  108.45318529,  114.70666105,
        166.31277772,  174.29196408,   87.00219429,  149.97314313,
        182.58052379,   55.6044642 ,  101.58704215,  121.82040535,
         98.2996053 ,  104.41030514,  170.05099435,   81.90275856,
        112.30436136,  172.23959688,   67.64395743,  187.73844347,
        104.97119568,   58.43209485,  100.93124536,  157.15231766,
        174.29196408,  196.54178061,  104.41030514,  100.19148077,
        121.82040535,  133.17047275,   64.98567913,  142.05320921,
        213.01175047,  176.03741104,  181.12710011,   87.00219429,
        230.67595987,  224.94981322,  143.54743108,   65.69935432,
        121.12998931,  286.17817041,  172.8001277 ,  150.85256233,
        255.66508324,  144.98050127,   94.32776956,  204.48662013,
        128.27788336,  106.27593006,   97.19455705,  105.71983144,
         69.16118512,  171.0973512 ,  111.76431426,  170.86633562,
        182.58052379,   55.6044642 ,   71.62814204,  294.58125186,
        104.97119568,  105.71983144,  201.08234728,  178.78161664,
        391.96610648,   67.24725195,  108.0786448 ,  140.47197398,
        176.03741104,  106.7824803 ,  175.20538024,  176.03741104,
        103.61936025,  279.57203797,  216.76329612,   96.45671309,
        171.0973512 ,  167.61826889,  115.85043555,   98.2996053 ,
        104.41030514,  160.07280279,  181.28401863,  193.87275458,
        117.80112333,  121.89278252,  172.23959688,  238.89732219,
        103.61936025,   52.32442295,  263.19930916,  118.08006001,
         61.68576678,  116.31044592, 7761.38544239,   67.24725195,
        306.85430467,  149.97314313,  106.46875064,  123.08992134,
        171.54255636,  109.74872518,  100.19148077,  162.87556429,
        235.34563293,  103.61936025,  203.90022349,   87.00219429,
        231.12462466,  162.43991703,  120.21229205,   64.98567913,
        106.27593006,   55.6044642 ,  119.26578424,  103.61936025,
        101.32508508,   87.00219429,   67.24725195,  100.5368425 ,
         67.64395743,  861.82105352,  222.00273009,  251.84724106,
        178.16641759,  172.23959688,  267.70398187,   67.24725195,
         67.65612541,  102.69658332,  176.03741104,  149.97314313,
        128.70503677,  175.20538024,   68.00164924,  102.69658332,
        227.23766063,  146.55648852,  142.05320921,  157.24540352,
         65.69935432,  104.97119568,  100.19148077,  292.3091013 ,
        355.27193884,   55.6044642 ,  188.22775723,  121.52257177,
        153.22132357,  153.95991519,  152.43869535,  264.36754906,
        141.85844532,  183.40590782,  282.23577748,   87.00219429,
        283.05762187,  105.71983144,  101.58704215,  103.61936025,
        170.8418488 ,  105.71983144,  111.91141898,  324.59659342,
         67.24725195,  185.07435685,  103.61936025,  106.7824803 ,
        176.8016757 ,   55.6044642 ,  131.17238646,   87.00219429,
         71.07069762,  279.47387296,  171.61469479,   87.00219429,
        188.48886865,  159.48143131,  121.82040535,  181.37540033,
        109.74872518,   87.00219429,  214.53793477,  158.84588312])

In [31]:
import statsmodels.api as sm

LR_sm_model = sm.OLS(y_train,sm.add_constant(X_train)).fit()
print(LR_sm_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.484
Model:                            OLS   Adj. R-squared:                  0.482
Method:                 Least Squares   F-statistic:                     235.4
Date:                Thu, 17 Sep 2020   Prob (F-statistic):               0.00
Time:                        19:42:52   Log-Likelihood:                -2227.5
No. Observations:                3023   AIC:                             4481.
Df Residuals:                    3010   BIC:                             4559.
Df Model:                          12
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                     3.4934      0.032    110.148      0.000       3.431       3.556
cleaning_fee                              0.0504      0.006      8.788      0.000       0.039       0.062
host_since_2019/6/28                      0.9059      0.224      4.052      0.000       0.468       1.344
host_since_2019/10/8                      2.3493      0.265      8.868      0.000       1.830       2.869
neighbourhood_Leather District            4.5498      0.731      6.224      0.000       3.116       5.983
bedrooms                                 -0.1581      0.033     -4.803      0.000      -0.223      -0.094
property_type_Hotel                       0.8884      0.118      7.544      0.000       0.657       1.119
host_verifications_['email', 'phone']     0.0703      0.058      1.220      0.222      -0.043       0.183
beds                                     -0.1472      0.042     -3.516      0.000      -0.229      -0.065
accommodates                              1.0883      0.037     29.571      0.000       1.016       1.160
property_type_Boutique hotel              0.6027      0.208      2.899      0.004       0.195       1.010
host_since_2019/10/29                     5.7879      0.759      7.630      0.000       4.300       7.275
host_since_2019/6/5                       6.1964      0.555     11.156      0.000       5.107       7.285
==============================================================================
Omnibus:                      115.528   Durbin-Watson:                   1.945
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              213.104
Skew:                           0.294   Prob(JB):                     5.31e-47
Kurtosis:                       4.160   Cond. No.                         363.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
np.exp(LR_sm_model.predict(sm.add_constant(X_test)))-1

1304    164.264095
2647    295.361874
2383    164.190714
301      66.292900
1134    109.748725
           ...
111     181.375400
3101    109.748725
3700     87.002194
2952    214.537935
2853    158.845883
Length: 756, dtype: float64

# FE_dm

In [33]:
df = pd.read_csv('DF_train_dm.csv',encoding ='ISO-8859-1',index_col = 0)

In [37]:
FE_dm_train, FE_dm_test = train_test_split(df,test_size=0.2, random_state=42)

In [38]:
FE_dm_train

,host_total_listings_count,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,price,...,room_type_Shared room,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,cancellation_policy_2,cancellation_policy_3,cancellation_policy_4,cancellation_policy_6,cancellation_policy_strict_14_with_grace_period
3595,1451,0,42.35120,-71.06519,1,2,1.0,0,1,171,...,0,0,0,0,1,0,0,0,1,0
547,89,0,42.36017,-71.06346,1,2,1.0,0,1,150,...,0,0,0,0,1,0,0,0,1,0
2387,5,0,42.34998,-71.07855,1,2,1.0,1,1,113,...,0,0,0,0,1,0,0,0,1,0
3357,1451,0,42.36738,-71.03648,1,2,1.0,1,1,102,...,0,0,0,0,1,0,0,0,1,0
1630,1,0,42.31575,-71.11526,1,4,1.0,2,2,120,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,8,1,42.37497,-71.03751,1,2,2.0,1,1,49,...,0,0,0,0,1,0,0,0,0,1
1310,686,0,42.32897,-71.11107,1,5,2.0,2,1,170,...,0,0,0,0,1,0,0,0,0,1
866,22,0,42.32457,-71.05838,1,1,1.0,1,1,75,...,0,0,0,0,1,0,0,1,0,0
3555,34,0,42.35555,-71.06281,1,2,1.0,1,1,175,...,0,0,0,0,1,0,0,1,0,0
3213,21,0,42.36498,-71.06289,1,2,1.0,1,1,87,...,0,0,0,0,1,0,0,0,0,1

In [39]:
FE_dm_test

,host_total_listings_count,host_identity_verified,latitude,longitude,is_location_exact,accommodates,bathrooms,bedrooms,beds,price,...,room_type_Shared room,bed_type_Couch,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,cancellation_policy_2,cancellation_policy_3,cancellation_policy_4,cancellation_policy_6,cancellation_policy_strict_14_with_grace_period
1304,1,1,42.28829,-71.12869,0,4,2.0,2,2,170,...,0,0,0,0,1,0,0,1,0,0
2647,4,0,42.31680,-71.05842,1,8,2.0,2,6,500,...,0,0,0,0,1,0,0,1,0,0
2383,57,0,42.36013,-71.05358,1,3,1.0,0,1,155,...,0,0,0,0,1,0,0,1,0,0
301,2,1,42.31261,-71.06710,1,1,2.0,1,1,45,...,0,0,0,0,1,0,0,0,0,1
1134,834,0,42.34174,-71.04810,1,2,1.0,1,1,90,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,3,1,42.34840,-71.15696,1,4,1.0,1,2,140,...,0,0,0,0,1,0,0,0,0,1
3101,39,0,42.35873,-71.06337,1,2,1.0,1,1,157,...,0,0,0,0,1,0,0,0,0,1
3700,1,0,42.33929,-71.04978,1,2,1.0,1,1,250,...,0,0,0,0,1,0,0,0,1,0
2952,0,0,42.30815,-71.08586,1,6,1.0,3,4,150,...,0,0,0,0,1,0,0,0,0,1
2853,1,0,42.37667,-71.05149,1,4,2.0,2,3,200,...,0,0,0,0,1,0,0,0,0,1

# EDA